#jinja2: trim_blocks: "true", lstrip_blocks: "true"
{{ ansible_managed | comment() }}

services:
  radarr:
    image: {{ radarr_docker_image }}
    container_name: {{ radarr_docker_container_name }}
    restart: {{ radarr_docker_restart_policy }}
    {% if radarr_docker_ports | length > 0 %}
    ports:
      {% for port in radarr_docker_ports %}
      - {{ port }}
      {% endfor %}
    {% endif %}
    {% if radarr_docker_networks | length > 0 %}
    networks:
      {% for net in radarr_docker_networks %}
      - {{ net }}
      {% endfor %}
    {% endif %}
    volumes:
      {% for vol in radarr_docker_volumes %}
      - {{ vol }}
      {% endfor %}
    environment:
      {% for key, value in radarr_docker_environment.items() %}
      {{ key }}: "{{ value }}"
      {% endfor %}
    {% if radarr_docker_depends_on %}
    depends_on:
      {% for dep in radarr_docker_depends_on %}
      - {{ dep }}
      {% endfor %}
    {% endif %}
    {% if radarr_docker_labels %}
    labels:
      {% for label in radarr_docker_labels %}
      - {{ label }}
      {% endfor %}
    {% endif %}
{% if radarr_docker_networks | length > 0 %}

networks:
  {% for net in radarr_docker_networks %}
  {{ net }}:
    external: true
  {% endfor %}
{% endif %}