#jinja2: trim_blocks: True, lstrip_blocks: True

---

services:
  {{ radarr_docker_service_name }}:
{% if radarr_docker_cpu_count %}
    cpu_count: {{ radarr_docker_cpu_count }}
{% endif %}
{% if radarr_docker_cpu_percentage %}
    cpu_percent: {{ radarr_docker_cpu_percentage }}
{% endif %}
{% if radarr_docker_cpu_shares %}
    cpu_shares: {{ radarr_docker_cpu_shares }}
{% endif %}
{% if radarr_docker_cpu_period %}
    cpu_period: {{ radarr_docker_cpu_period }}
{% endif %}
{% if radarr_docker_cpu_quota %}
    cpu_quota: {{ radarr_docker_cpu_quota }}
{% endif %}
{% if radarr_docker_cpu_rt_runtime %}
    cpu_rt_runtime: {{ radarr_docker_cpu_rt_runtime }}
{% endif %}
{% if radarr_docker_cpu_rt_period %}
    cpu_rt_period: {{ radarr_docker_cpu_rt_period }}
{% endif %}
{% if radarr_docker_cpus %}
    cpus: {{ radarr_docker_cpus }}
{% endif %}
{% if radarr_docker_cpuset %}
    cpuset: {{ radarr_docker_cpuset }}
{% endif %}
{% if radarr_docker_cap_add %}
    cap_add:
{{ radarr_docker_cap_add | to_nice_yaml(indent=2) | indent(6, first=True) }}
{% endif %}
{% if radarr_docker_cap_drop %}
    cap_drop:
{{ radarr_docker_cap_drop | to_nice_yaml(indent=2) | indent(6, first=True) }}
{% endif %}
{% if radarr_docker_container_name %}
    container_name: {{ radarr_docker_container_name }}
{% endif %}
{% if radarr_docker_devices %}
    devices:
{{ radarr_docker_devices | to_nice_yaml(indent=2) | indent(6, first=True) }}
{% endif %}
{% if radarr_docker_dns %}
    dns: {{ radarr_docker_dns if radarr_docker_dns is string else radarr_docker_dns | to_yaml }}
{% endif %}
{% if radarr_docker_dns_opt %}
    dns_opt: {{ radarr_docker_dns_opt if radarr_docker_dns_opt is string else radarr_docker_dns_opt | to_yaml }}
{% endif %}
{% if radarr_docker_dns_search %}
    dns_search: {{ radarr_docker_dns_search if radarr_docker_dns_search is string else radarr_docker_dns_search | to_yaml }}
{% endif %}
{% if radarr_docker_domainname %}
    domainname: {{ radarr_docker_domainname }}
{% endif %}
    environment:
{{ radarr_docker_environment | to_nice_yaml(indent=2) | indent(6, first=True) }}
{% if radarr_docker_hostname %}
    hostname: {{ radarr_docker_hostname }}
{% endif %}
    image: {{ radarr_docker_image }}
{% if radarr_docker_labels %}
    labels:
{{ radarr_docker_labels | to_nice_yaml(indent=2) | indent(6, first=True) }}
{% endif %}
{% if radarr_docker_mem_limit %}
    mem_limit: {{ radarr_docker_mem_limit }}
{% endif %}
{% if radarr_docker_mem_reservation %}
    mem_reservation: {{ radarr_docker_mem_reservation }}
{% endif %}
{% if radarr_docker_mem_swappiness %}
    mem_swappiness: {{ radarr_docker_mem_swappiness }}
{% endif %}
{% if radarr_docker_memswap_limit %}
    memswap_limit: {{ radarr_docker_memswap_limit }}
{% endif %}
{% if radarr_docker_network_mode %}
    network_mode: {{ radarr_docker_network_mode }}
{% endif %}
{% if radarr_docker_networks %}
    networks:
{{ radarr_docker_networks | to_nice_yaml(indent=2) | indent(6, first=True) }}
{% endif %}
{% if radarr_docker_ports %}
    ports:
{{ radarr_docker_ports | to_nice_yaml(indent=2) | indent(6, first=True) }}
{% endif %}
{% if radarr_docker_pull_policy %}
    pull_policy: {{ radarr_docker_pull_policy }}
{% endif %}
{% if radarr_docker_restart_policy %}
    restart: {{ radarr_docker_restart_policy }}
{% endif %}
{% if radarr_docker_runtime %}
    runtime: {{ radarr_docker_runtime }}
{% endif %}
{% if radarr_docker_volumes %}
    volumes:
{{ radarr_docker_volumes | to_nice_yaml(indent=2) | indent(6, first=True) }}
{% endif %}

{% if radarr_docker_networks %}
networks:
{% for network in radarr_docker_networks %}
  {{ network }}:
    external: true
{% endfor %}
{% endif %}